body {
  background: #F2F6F2;
  -webkit-font-smoothing: antialiased;
  width: 50%;
  margin: 0px auto;
}

.contribution {
  font-family: "Sentinel SSm A", "Sentinel SSm B", Palatino Linotype, Book Antiqua, Palatino, serif;
  content: "medium";
  box-sizing: border-box;
  display: block;
  padding: 0px;
  letter-spacing: 0.01rem;
  color: rgba(0,0,0,0.7);
}

.contribution h1,
.contribution h2,
.contribution h3 {
  font-family: 'Quattrocento Sans', sans-serif;
}

.contribution h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-top: 2.5rem;
  margin-bottom: 1.75rem;
}

.contribution h2 {
  font-size: 1.9375rem;
  line-height: 1.75rem;
  margin-top: 3.5rem;
  margin-bottom: 1.75rem;
}

.contribution h3 {
  font-size: 1.1875rem;
  line-height: 1.75rem;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.contribution h4 {
  font-size: 1.1875rem;
  line-height: 1.75rem;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.contribution p,
.contribution ul,
.contribution ol,
.contribution pre,
.contribution table,
.contribution blockquote {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  font-size: 19px;
  line-height: 1.473684211em;
}

.contribution img {
  display: block;
  vertical-align: middle;
  padding: 4px;
  max-width: 605px;
  margin: 0.75rem 0;
  line-height: 1.42857143;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.contribution a {
  transition: all 200ms linear 0s;
  border-bottom: 1px solid #d9edf7;
  color: #333;
  text-decoration: none;
}

.contribution a:hover,
.contribution a:focus {
  border-bottom: 1px solid #d9edf7;
  background: #bce8f1;
}

.contribution blockquote p {
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: italic;
  border-left: 3px solid rgba(0,0,0,0.8);
  padding-left: 20px;
  margin-left: -23px;
  padding-bottom: 3px;
}
