/*
  GENERAL
*/

body {
  background: #fafafa;
  -webkit-font-smoothing: antialiased;
}

.container {
  margin: 0px auto;
  max-width: 620px !important;
}

footer {
  height: 20rem;
}

/*
  NAVIGATION CONTRIBUTIONS LIST AND CONTRIBUTION
*/

#contrib-nav ul {
  position: fixed;
  margin: 0px -80px;
  display: block;
  float: left;
  list-style: outside none none;
}
#contrib-nav ul a {
  color: #ddd;
}

#contrib-nav ul a:hover,
#contrib-nav ul a:focus {
  color: rgba(0,0,0,0.7);
}

/*
  CONTRIBUTIONS LIST
*/

#contribution-list header {
  font-size: .8em;
  color: rgba(0,0,0,0.5);
  padding: 10px 0px;
  margin: 30px 0px;
  position: fixed;
  background: white;
  width: 100%
}

#contribution-list hr {
  position: fixed;
  margin: 30px 0;
  padding: 30px 0px 1rem;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  border: none;
}

#contribution-list ul {
  padding: 20px 0px 1rem;
  font-family: "Sentinel SSm A", "Sentinel SSm B", Palatino Linotype, Book Antiqua, Palatino, serif;
  font-size: 1.2rem;
  content: "medium";
  padding: 75px 1px;
  letter-spacing: 0.01rem;
  color: rgba(0,0,0,0.7);
  list-style: outside none none;
  line-height: 1.473684211em;
}

#contribution-list ul a {
  transition: all 200ms linear 0s;
  border-bottom: 1px solid #1995D3;
  color: #333;
  text-decoration: none;
}

#contribution-list ul a:hover,
#contribution-list ul a:focus {
  border-bottom: 1px solid #0067AF;
  background: #EBF4F6;
}

/*
  REPOSITORIES LIST
*/

#gh-repo-list,
#gh-repo-list {
  max-width: 620px !important;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  font-size: .9rem;
  padding-top: 40px;
  padding-bottom: 10px;
  margin: -40px 0px;
  width: 100%;
  position: fixed;
  background: white;
}

#gh-repo-list a {
  display: inline-block;
  float: left;
  color: rgba(0,0,0,0.6);
  background: #fafafa;
  border-radius: 2px;
  border: 1px solid #f0f0f0;
  padding: 3px 8px;
  margin-right: 4px;
  text-decoration: none;
}

#gh-repo-list a:hover,
#gh-repo-list a:focus {
  background: #f0f0f0;
}

#gh-repo-list a.selected {
  background: #f0f0f0;
}


/*
  CONTRIBUTIONS
*/

#contribution {
  font-family: "Sentinel SSm A", "Sentinel SSm B", Palatino Linotype, Book Antiqua, Palatino, serif;
  content: "medium";
  box-sizing: border-box;
  padding: 0px;
  margin: 19px 0px;
  letter-spacing: 0.01rem;
  color: rgba(0,0,0,0.7);
}

#contribution h1,
#contribution h2,
#contribution h3 {
  font-family: 'Quattrocento Sans', sans-serif;
}

#contribution h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-top: 0px;
  margin-bottom: 1.75rem;
}

#contribution h2 {
  font-size: 1.9375rem;
  line-height: 1.75rem;
  margin-top: 3.5rem;
  margin-bottom: 1.75rem;
}

#contribution h3 {
  font-size: 1.1875rem;
  line-height: 1.75rem;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

#contribution h4 {
  font-size: 1.1875rem;
  line-height: 1.75rem;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

#contribution p,
#contribution ul,
#contribution ol,
#contribution pre,
#contribution table,
#contribution blockquote {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  font-size: 19px;
  line-height: 1.473684211em;
}

#contribution img {
  display: block;
  vertical-align: middle;
  padding: 4px;
  max-width: 605px;
  margin: 0.75rem 0;
  line-height: 1.42857143;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#contribution a {
  transition: all 200ms linear 0s;
  border-bottom: 1px solid #1995D3;
  color: #333;
  text-decoration: none;
}

#contribution a:hover,
#contribution a:focus {
  border-bottom: 1px solid #0067AF;
  background: #EBF4F6;
}

#contribution blockquote p {
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: italic;
  border-left: 3px solid rgba(0,0,0,0.8);
  padding-left: 20px;
  margin-left: -23px;
  padding-bottom: 3px;
}

/*
  TAGS
*/

.tags,
.tags ul {
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  font-size: 13px;
  color: rgba(0,0,0,0.44);
  letter-spacing: 0;
}

.tags ul {
  list-style: outside none none;
  margin: 5px 0;
  padding: 0;
}

.tags li {
  display: inline-block;
  float: left;
  background: #fafafa;
  border-radius: 2px;
  border: 1px solid #f0f0f0;
  padding: 3px 10px;
  margin-right: 8px;
  margin-bottom: 8px;
}

hr.author {
  clear: both;
}
