.tags,
.tags ul {
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  font-size: 13px;
  color: rgba(0,0,0,0.44);
  letter-spacing: 0;
}

.tags ul {
  list-style: outside none none;
  margin: 5px 0;
  padding: 0;
}

.tags li {
  display: inline-block;
  float: left;
  background: #fafafa;
  border-radius: 2px;
  border: 1px solid #f0f0f0;
  padding: 3px 10px;
  margin-right: 8px;
  margin-bottom: 8px;
}

hr.author {
  clear: both;
}
